{% extends 'oh_data_source/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
      <h1>Fitbit Data &rarr; Open Humans</h1>
      <p class="lead">
        Use this app to add your Fitbit data to an
        <a href="https://www.openhumans.org/">Open Humans</a> account.
      </p>
      <p class="lead">
        Learn more by visiting:<br>
        <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
      </p>
      <h2>How it works</h2>
      <ol>
        <li><b>Click the button below</b><br>
          This takes you to Open Humans.</li>
        <li><b>Log in or create an Open Humans account</b><br>
          Upon completion, your fitbit data will be added to this account.</li>
        <li><b>Authorize this app in Open Humans</b><br>
          This authorizes us to add data to your account.</li>
        <li><b>Return to this app</b><br>
          Come back to the app so we can get your personalized fitbit data.</li>
        <li><b>Decide on what kind of Fitbit data you want</b><br>
          If you want access to minute or second level data, you will need Intraday access. If you don't need this granular of access, you can use regular access.</li>
        <li><b>Authorize with Fitbit <i>OR</i> Create a "Personal" Fitbit app and enter your client ID/secret</b><br>
          Blah</li>
        <li><b>Decide on what kind of Fitbit data you want</b><br>
          If you want access to minute or second level data, you will need Intraday access. If you don't need this granular of access, you can use regular access.</li>
        <li><b>Fill out the form specifying dates &amp; type of data you would like</b><br>
          Fill out the form that appears on the app, providing dates and types of information that you would like fetched from Fitbit.
        <li><b>Submit the form &amp; wait for data upload</b><br>
          This app will submit a job to fetch your specified Fitbit data and upload it to your Open Humans account.
          You'll be able to access &amp; manage data here:
          <a href="{{ oh_proj_page }}">{{ oh_proj_page }}</a>
        </li>
      </ol>
      {% if client_id %}
      <a
        class="btn btn-primary btn-lg"
        href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code"
        {% else %}
        class="btn btn-default disabled"
        {% endif %}
        >
        Start with Open Humans authorization
      </a>
      {% if not client_id %}
      <p class="text-muted"><i>
        This button is disabled because client_id hasn't been configured.
      </i></p>
      {% endif %}
    </div>

{% endblock %}